

h5 {
  color: #374151;
  font-size: 23px;
  margin-bottom: 0px;
  font-weight: 400;
}

h3 {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}



button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background: transparent;
  border:  2px solid #f9004d;
  cursor: pointer;
}


/* My Project */

.projects {
  width: 50%;
  padding: 100px 0;
}

.title h2 {
  color: black;
  font-size: 60px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}


.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
  bottom: 20px;
  left: 0.50%;
  padding: 10px 20px;
  justify-content: center;
  margin-bottom: 10px;
  border: 20px ;
}

.card {
  height: 450px;
  width: 300px;
  padding: 10px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 20px ;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  position: relative;
}


.pra p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px;
}

.card .button {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover {
  color: #000;
  background: transparent;
  border:  2px solid #f9004d;
  cursor: pointer;
}

  
/* Media Querie */
  @media (max-width: 1024px ) {
    
    h3 {
     font-size: 25px;
    }
    
    h4 {
      font-size: 20px;
    }

    .box {
      grid-template-columns: repeat(1, 1fr);
    }

  
  }

  

